In [2]:
d1={"Name":"Gitam","Emailid":"gitam@gmail.com","Address":"Hyderabad"}
print(d1)

{'Name': 'Gitam', 'Emailid': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [5]:
d1["Name"]

'Gitam'

In [6]:
d1

{'Name': 'Gitam', 'Emailid': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [22]:
del d1

NameError: name 'd1' is not defined

In [11]:
d1={"Name":"Gitam","Emailid":"gitam@gmail.com","Address":"Hyderabad"}
print(d1)

{'Name': 'Gitam', 'Emailid': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [12]:
del d1["Emailid"]

In [13]:
d1

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [14]:
d1.keys()

dict_keys(['Name', 'Address'])

In [15]:
d1.values()

dict_values(['Gitam', 'Hyderabad'])

In [16]:
d1.items()

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

In [17]:
d3={"roll number":"221810311013","section":"cs11"}
print(d3)

{'roll number': '221810311013', 'section': 'cs11'}

In [10]:
def addcontact(name,phone):
   contact={}
   if name not in contact:
       contact[name] = phone
       print("contact is details are added")
   else:
       print("contact details are already exists")
   return
addcontact('mourya','9949868611')
addcontact('aneesh','9398350415')

contact is details are added
contact is details are added

In [13]:
def searchcontact(name):
    contact={}
    if name in contact:
        print(name, " : ",contact[name])
    else:
        print("%s does not exists" % name)
    return
searchcontact("mourya")
searchcontact("aneesh")

mourya does not exists
aneesh does not exists

In [14]:
contact

NameError: name 'contact' is not defined

In [ ]:
str="1 2 3 2 5:
    if

In [3]:
str1="bad"
str2="water"
for x in range(str1):
    for x in range(str2):
        print(x(str1[0]),x(str2[0]),end="")

TypeError: 'str' object cannot be interpreted as an integer

In [13]:
ls=("aneesh is topper")
print(ls)
ls=("cs11")
print(ls)

aneesh is topper
cs11

In [4]:
rows=int(input("enter the no of rows"))
for i in range(rows,0,-1):
    for j in range(0,i+1):
        print("*",end=" ")

enter the no of rows4
* * * * * * * * * * * * * *

In [1]:
# 1. Fib reverse
def fibrev(n):
   li=[0,1]
   i=1
   j=0
   while i<n-2:
       i,j=i+j,i
       li.append(i)
   li.reverse()
   
   print(li)
   return
fibrev(int(input("Enter number")))

Enter number5
[3, 2, 1, 1, 0]

In [ ]:
#2. sum non repeated
def sumnonrep(n):
   li=[]
   i=0
   sum=0
   while i<n:
       a=int(input("Enter the number"))
       li.append(a)
       i+=1
   print(li)
   for i in range(len(li)):
       a=li.count(li[i])
       if a==1:
           sum=sum+li[i]
   if sum == 0:
       return -1
   return sum
sumnonrep(5)

In [ ]:
#3. cubes
def cube(n):
   i=0
   while i<=n:
       j=3**i
       print(j,end=" ")
       i+=1
   return
cube(5)

In [ ]:
#4. 2 power series
def power2(n):
   i=0
   while i<=n:
       j=2**i
       print(j,end=" ")
       i+=1
   return
power2(5

In [ ]:
#5. remove char
def remchar(s,c):
   for i in range(len(s)):
       if (ord(s[i])>=97 and ord(s[i])<=122) or (ord(s[i])>=65 and ord(s[i])<=90) or ord(s[i])==32:
           if s[i]!=c:
               print(s[i],end="")
   return
s="HebeonTech"
c="e"
remchar(s,c)

In [ ]:
#6. series
def series(n):
  i=2
  j=0
  while i<=n:
      i = i+13*j
      print(i,end=" ")
      j+=1
  return
series(500)

In [ ]:
#7. Merge strings
def mergstr(s1,s2):
   i=0
   j=0
   for i in range(len(s1)+len(s2)):
       print(s1[i],end="")
       print(s2[i],end="")
   return
s1="abcd"
s2="wxyz"
mergstr(s1,s2)

In [ ]:
#8 fact sum
def factsum(n):
   f=1
   i=1
   while i<=n:
       f=f*i
       print(f,"+",end="")
       i+=1
   return
factsum(5)